body {
    background-color: rgb(32, 32, 32);
    padding-left: 2%;
    padding-right: 2%;
    color: whitesmoke;
    user-select: none;
}

header {
    margin-top: 1%;
}

button {
    cursor: pointer;
}

nav {
    width: 35%;
    height: 5vh;
    margin-top: 7.5vh;
    float: right;
}

li {
    display: inline-block;
    padding-right: 3vw;
    margin: auto;
    font-size: 2vh;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

/*CSS PER LA PAGINA "HOME"*/

#titolo {
    display: inline;
    font-size: 5vh;
    color: rgb(117, 175, 255);
}

#menu {
    padding-left: .5%;
    padding-right: .5%;
}

#menuSin {
    display: inline;
    margin-left: 5%;
    font-size: 2.5vh;
}

#icone {
    display: inline;
}



#imgCarrello {
    width: 6.5vh;
    position: absolute;
    right: 6.5vh;
    cursor: pointer;
}

#menuATendina {
    font-size: 3vh;
    display: none;
    position: absolute;
    right: 5%;
}

#imgMenuATendina {
    float: right;
}

#contenutoMenuATendina {
    display: none;
}

#menuTendina {
    display: block;
    padding: .5%;
}

#imgCarrelloTendina {
    width: 4.5vh;
    padding: .5%;
}

#imgAccountTendina {
    width: 4.5vh;
    padding: .5%
}

#imgAccount {
    width: 6vh;
    position: absolute;
    right: 15vh;
    cursor: pointer;
}

/*Slider Sconti*/

.titoloSezione {
    margin-top: 10%;
    font-size: 5vh;
    text-align: center;
    color: rgb(117, 175, 255);
}

.sliderContainer {
    position: relative;
    margin: auto;
    width: 50%;
    height: 55vh;
    display: block;
}

.slide {
    width: 80%;
    margin: auto;
    display: none;
    text-align: center;
}

.immagineSlide {
    width: auto;
    height: 55vh;
    border-radius: 20px;
    border: 5px solid white;
    cursor: pointer;
}



.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 1%;
    color: white;
    font-size: 10vh;
    transition: .3s ease;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    color: rgb(180, 180, 180);
}

.counter-slide {
    color: white;
    font-size: 3vh;
    position: absolute;
    top: 0;
    padding: 1%;
}

#saldi {
    margin: auto;
    width: 90%;
    height: 30vh;
    text-align: center;
}

.giocoInSaldo {
    width: 25%;
    height: 51.5vh;
    margin: .5vh 1.7% 0 0;
    border: 2px solid white;
    display: inline-block;
    border-radius: 20px;
    background-color: white;
    position: relative;
}

/*Overlay*/

.imgTop3 {
    width: 100%;
    height: 51.5vh;
    border-radius: 20px;
    display: none;
    cursor: pointer;
}

.btnOnImg {
    position: absolute;
    bottom: 10%;
    height: 3vh;
    left: 30%;
}

.top3Text {
    font-size: 10vh;
    color: black;
    position: absolute;
    left: 45%;
}

/*CSS PER LA PAGINA "SHOP"*/

#contenitoreProdotti {
    width: 100%;
    height: auto;
    text-align: center;
}

#sceltaSec {
    width:12%; 
    height: 5vh; 
    font-size: 1vh; 
    margin-left: 2.5%;
}

.scelta {
    background-color: white;
    width: 25%;
    height: 30vh;
    border-radius: 20px;
    margin-left: 5%;
    margin-top: 5%;
    display: inline-table;
    cursor: pointer;
    position: relative;
}

.sceltaText {
    color: rgb(63, 143, 255);
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.scelta:hover {
    background-color: rgb(220, 220, 220);
}

#divRicerca {
    margin-top: 5%;
    width: 100%;
    text-align: center;
}

#ricerca {
    width: 30%;
    height: 4vh;
}

#cerca {
    height: 4.5vh;
}

#nessunProdottoTrovato {
    font-size: 2vh;
    position: absolute;
    top: 60%;
    left: 42%;
    text-align: center;
}

#prodotto {
    width: 15%;
    height: 55vh;
    border-radius: 20px;
    border: 3px solid white;
    background-color: white;
    text-align: center;
    color: black;
    position: relative;
    display: inline-table;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 6%;
}

#prodottoImg, #carrelloImg {
    margin-top: 2%;
    width: 90%;
    height: 30vh;
    
}

#prodottoBottone, #eliminaDalCarrello, #aggiungiAlCarrello {
    position: absolute;
    bottom: 2%;
    left: 25%;
    height: 3vh;
    background-color: white;
    border: 2px solid;
    border-radius: 20px;
}

#prodottoBottone:hover {
    background-color: rgb(220, 220, 220);
}

#bloccaTutto {
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

#avvertenza {
    max-width: 50%;
    height: 50vh;
    z-index: 3;
    text-align: center;
    background-color: rgb(255, 39, 39);
    margin: 0 auto;
    position: relative;
    border-radius: 20px;
    margin-top: 10%;
    display: none;
}

#avvertenza > h1 {
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}

#avvertenza > h3 {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 20%;
}

#creaneUno, #lasciaStare {
    position: absolute;
    width: 45%;
    display: inline-block;
    height: 5vh;
    border-radius: 20px;
    bottom: 2%;
    right: 2.5%;
}

#creaneUno {
    left: 2.5%;
}

#avvertenza > button:hover {
    background-color: rgb(220, 220, 220);
}

/*CSS PER LA PAGINA "CARRELLO"*/

#prodottiCarrello {
    width: 100%;
    margin-top: 5%;
}

#eliminaDalCarrello {
    width: 49.5%;
    left: 0;
    display: inline-block;
}

#aggiungiAlCarrello {
    width: 49.5%;
    left: 50%;
}

#eliminaDalCarrello:hover {
    background-color: rgb(255, 73, 73);
}

#aggiungiAlCarrello:hover {
    background-color: rgb(73, 255, 73);
}

#divBottoneConferma {
    width: 100%;
    height: 10vh;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgb(32, 32, 32);
}

#bottoneConferma {
    text-align: center;
    background-color: rgb(117, 175, 255);
    color: black;
    width: 90%;
    height: 5vh;
    margin-top: 1.5%;
}

#senzaProdotti {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 40%;
}

/*CSS PER LA PAGINA "ACCOUNT"*/

#creaAccount, #accediAccount {
    width: 100%;
    text-align: center;
}

#accediAccount {
    display: none;
}

#creaAccount > input {
    margin-bottom: 1%;
    width: 20%;
    height: 5vh;
}

#accediAccount > input {
    margin-bottom: 1%;
    width: 20%;
    height: 5vh;
}

#titoloAccount {
    text-align: center;
    margin-bottom: 0;
    margin-top: 8%;
}

#sottoTitolo {
    text-align: center;
    margin-bottom: 2%;
    margin-top: 0;
}

#link1, #link2 {
    cursor: pointer;
    color: rgb(117, 175, 255);
}

#link {
    color: rgb(117, 175, 255);
}

#creaAccountBtn1, #creaAccountBtn2 {
    margin-top: 3%;
    width: 15%;
    height: 5vh;
    border-radius: 20px;
}

#errore {
    margin: 0;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 2%;
    left: 0;
    color: rgb(197, 0, 0)
}

#tuttiIDati {
    width: 100%;
    margin-top: 5%;
    display: none;
}

#infoPersonali, #infoPagamento {
    margin-top: 5%;
    background-color: white;
    color: black;
    width: 30%;
    height: 50vh;
    border-radius: 20px;
    position: relative;
    float: left;
}

#infoPagamento {
    margin-left: 20%
}

#infoPersonali > h2 {
    margin-left: 7%;
    padding: 4.5%;
}

#infoPersonali > button {
    position: absolute;
    bottom: 2%;
    left: 30%;
    color: black;
    background-color: white;
    height: 4vh;
    border-radius: 20px;
    width: 40%;
}

#infoPersonali > button:hover {
    background-color: rgb(220, 220, 220);
}

#infoPersonali > h2 > input {
    height: 4vh;
    margin-left: 3%;
    width: 50%;
}
#infoPagamento > h2 {
    margin-left: 7%;
    padding: 4.5%;
}

#infoPagamento > button {
    position: absolute;
    bottom: 2%;
    left: 30%;
    color: black;
    background-color: white;
    height: 4vh;
    border-radius: 20px;
    width: 40%;
}

#infoPagamento > button:hover {
    background-color: rgb(220, 220, 220);
}

#infoPagamento > h2 > input {
    height: 4vh;
    margin-left: 3%;
    width: 30%;
}

#logout {
    width: 10%;
    height: 5vh;
    position: absolute;
    bottom: 1%;
    right: 2%;
    cursor: pointer;
}

#logout:hover {
    background-color: rgb(255, 73, 73);
}

/*CSS PER LA PAGINA "ABOUT US"*/

#benvenuto, #inventario, #prezzi, #esport {
    width: 100%;
    margin-bottom: 5%;
    margin-top: 5%;
    height: 40vh;
    position: relative;
}

#titoloBen, #titoloInv, #titoloPrz, #titoloEsp {
    position: absolute;
    top: 20%;
    left: 5%;
    width: 30%;
    text-align: center;
    color:rgb(117, 175, 255)
}

#contenutoBen, #contenutoInv, #contenutoPrz, #contenutoEsp {
    position: absolute;
    top: 40%;
    left: 10%;
    width: 20%;
    text-align: center;
}

#imgAs {
    height: 40vh;
    width: 40%;
    float: right;
    margin-right: 5%;
    border-radius: 20px;
}

@media screen and (max-width: 1400px) {

    /*CSS PER LA PAGINA PRODOTTI*/

    #prodotto {
        width: 20%;
    }

    #sceltaSec {
        width: 15%;
        margin-left: 1%;
    }

    /*CSS PER LA PAGINA ABOUT US*/

    #imgAs {
        width: 50%;
    }

    /*CSS PER LA PAGINA ACCOUNT*/

    #infoPersonali, #infoPagamento {
        width: 40%;
    }

    #logout {
        width: 20%;
    }

    #creaAccount > input, #accediAccount > input {
        width: 30%;
    }
}
@media screen and (max-width: 1250px) {
    /*CSS PER LA PAGINA HOME*/

    .giocoInSaldo {
        width: 30%;
        height: 51.5vh;
    }

    .next, .prev {
        top: 30%;
    }

    /*CSS PER LA PAGINA PRODOTTI*/

    #contenitoreProdotti > .scelta > .sceltaText {
        width: 100%;
        position: absolute;
        top: 30%;
        left: 0;
    }

    #menuSecondario {
        margin-top: 10%;
    }

    #prodotto {
        width: 30%;
        height: 60vh;
    }

    #prodotto > h2 {
        font-size: 3vh;
    }
    #prodotto > h3 {
        font-size: 2vh;
    }

    #prodotto > button {
        width: 70%;
        left: 15%;
        height: 4vh;
        font-size: 2vh;
    }

    #prodottoImg, #prodottoCarrello {
        height: 35vh;
    }

    /*CSS PER LA PAGINA ACCOUNT*/

    #titoloAccount {
        margin-top: 20%;
        font-size: 4vh;
    }

    #saluto {
        margin-top: 10%;
        font-size: 3vh;
    }
}
@media screen and (max-width: 1100px) {
    /*CSS PER LA PAGINA HOME*/

    .giocoInSaldo {
        width: 30%;
        height: 60vh;
        margin-bottom: 5%;
    }

    .sliderContainer {
        margin-left: 0;
        width: 50%;
        height: 70vh;
        margin-left: 25%;
    }

    .next, .prev {
        top: 35%;
        font-size: 12vh;
    }

    .immagineSlide {
        width: 90%;
        height: 65vh;
    }


    .imgTop3 {
        height: 60vh;
    }

    .titoloSezione {
        margin-top: 15%;
        font-size: 4vh;
    }

    /*CSS PER LA PAGINA PRODOTTI*/

    #ricerca {
        width: 50%;
        margin-left: 0;
        height: 5vh;
        font-size: 2vh;
    }

    #cerca {
        width: 10%;
        height: 6vh;
        margin-top: 1%;
        font-size: 2vh;
    }

    .scelta {
        width: 40%;
        margin-left: 4%;
        text-align: center;
        position: relative;
        font-size: 2vh;
    }

    #contenitoreProdotti {
        margin-top: 10%;
    }


    #contenitoreProdotti > .scelta > .sceltaText {
        width: 100%;
        position: absolute;
        top: 30%;
        left: 0;
    }

    #menuSecondario {
        margin-top: 10%;
        text-align: center;
    }

    #menuSecondario > #sceltaSec > .sceltaText {
        position: absolute;
        top: 10%;
        text-align: center;
        width: 100%;
    }

    #prodotto > h2 {
        font-size: 3vh;
    }
    #prodotto > h3 {
        font-size: 2vh;
    }

    #prodotto > button {
        width: 70%;
        left: 15%;
        height: 4vh;
        font-size: 2vh;
    }

    #prodottoImg, #prodottoCarrello {
        height: 35vh;
    }

    /*CSS PER LA PAGINA ABOUT US*/

    #imgAs {
        width: 70%;
        height: auto;
        float: none;
        margin-left: 15%;
        position: absolute;
        top: 60%;
        left: 0;
    }

    #benvenuto, #inventario, #esport, #prezzi {

        height: 120vh;
        margin-top: 10%;
        font-size: 2.5vh;
        text-align: center;
    }

    #esport {
        margin-top: 40%;
    }
    
    #titoloBen, #titoloInv, #titoloPrz, #titoloEsp {
        position: absolute;
        top: 1%;
        width: 100%;
        left: 0;
        font-size: 10vh;
        text-align: center;
        color:rgb(117, 175, 255);
    }
    
    #contenutoBen, #contenutoInv, #contenutoPrz, #contenutoEsp {
        position: absolute;
        top: 25%;
        left: 0;
        width: 100%;
        text-align: center;
        font-size: 5vh;
    }

    /*CSS PER LA PAGINA CARRELLO*/

    #prodottiCarrello {
        text-align: center;
    }

    /*CSS PER LA PAGINA ACCOUNT*/

    #infoPersonali {
        width: 70%;
        height: 70vh;
        text-align: center;
        font-size: 2vh;
        margin-left: 15%;
    }

    #infoPagamento {
        width:70%;
        height: 70vh;
        margin-left: 0;
        margin-top: 10%;
        text-align: center;
        margin-bottom: 10%;
        font-size: 2vh;
        margin-left: 15%;
    }

    #logout {
        display: block;
        width: 70%;
        margin-left: 15%;
        height: 8vh;
        position: static;
        font-size: 2vh;
    }

    #creaAccount > input, #accediAccount > input {
        width: 50%;
        height: 5vh;
        font-size: 2vh;
    }

    #creaAccount > h3, #accediAccount > h3, #link1, #link2 {
        font-size: 3vh;
    }
    #accediAccount > button, #creaAccount > button {
        width: 30%;
        height: 5vh;
        font-size: 1.5vh;
    }

    #titoloAccount {
        margin-top: 10%;
        font-size: 6vh;
    }

    #saluto {
        margin-top: 10%;
        font-size: 6vh;
    }

    #infoPagamento > button {
        width: 70%;
        left: 15%;
        height: 5vh;
        font-size: 2vh;
    }

    #infoPersonali > button {
        width: 70%;
        left: 15%;
        font-size: 2vh;
        height: 5vh;
    }
}
@media screen and (max-width: 1000px) {
    /*CSS PER LA PAGINA HOME*/

    .giocoInSaldo {
        width: 60%;
        height: 50vh;
        margin-bottom: 5%;
        margin-left: 20%;
    }

    .sliderContainer {
        margin-left: 0;
        width: 100%;
        height: 46vh;
    }

    .next, .prev {
        top: 35%;
    }

    .immagineSlide {
        width: 70%;
        height: 50vh;
    }


    .imgTop3 {
        height: 50vh;
    }

    #menuATendina {
        width: 25%;
        height: 30vh;
        margin-top: -8%;
    }

    .titoloSezione {
        margin-top: 35%;
    }

    /*CSS PER LA PAGINA PRODOTTI*/

    #ricerca {
        width: 80%;
        margin-left: 10%;
        height: 5vh;
        display: block;
        font-size: 2vh;
    }

    #cerca {
        width: 20%;
        height: 6vh;
        margin-top: 1%;
        font-size: 2vh;
    }

    .scelta {
        display: block;
        width: 70%;
        margin-left: 15%;
        text-align: center;
        position: relative;
        font-size: 2vh;
    }

    #contenitoreProdotti {
        margin-top: 10%;
    }


    #contenitoreProdotti > .scelta > .sceltaText {
        width: 100%;
        position: absolute;
        top: 30%;
        left: 0;
    }

    #menuSecondario {
        margin-top: 30%;
        text-align: center;
    }

    #menuSecondario > #sceltaSec > .sceltaText {
        position: absolute;
        top: 10%;
        text-align: center;
        width: 100%;
    }

    #sceltaSec {
        width: 100%;
        height: 6vh;
    }

    #prodotto {
        width: 50%;
        height: 60vh;
    }

    #prodotto > h2 {
        font-size: 3vh;
    }
    #prodotto > h3 {
        font-size: 2vh;
    }

    #prodotto > button {
        width: 70%;
        left: 15%;
        height: 4vh;
        font-size: 2vh;
    }

    #prodottoImg, #prodottoCarrello {
        height: 35vh;
    }

    /*CSS PER LA PAGINA ABOUT US*/

    #imgAs {
        width: 100%;
        height: auto;
        float: none;
        margin: 0;
        position: absolute;
        top: 60%;
        left: 0;
    }

    #benvenuto, #inventario, #esport, #prezzi {

        height: 65vh;
        margin-top: 30%;
        font-size: 2.5vh;
        text-align: center;
    }

    #esport {
        margin-top: 40%;
    }
    
    #titoloBen, #titoloInv, #titoloPrz, #titoloEsp {
        position: absolute;
        top: 1%;
        width: 100%;
        left: 0;
        text-align: center;
        color:rgb(117, 175, 255);
    }
    
    #contenutoBen, #contenutoInv, #contenutoPrz, #contenutoEsp {
        position: absolute;
        top: 25%;
        left: 0;
        width: 100%;
        text-align: center;
    }

    /*CSS PER LA PAGINA CARRELLO*/

    #prodottiCarrello {
        margin-top: 30%;
        text-align: center;
        margin-bottom: 20%;
    }

    #senzaProdotti {
        position: static;
        padding-top: 25%;
        font-size: 2vh;
    }

    #bottoneConferma {
        height: 7vh;
        font-size: 2vh;
    }

    /*CSS PER LA PAGINA ACCOUNT*/

    #infoPersonali {
        width: 100%;
        height: 60vh;
        text-align: center;
        font-size: 2vh;
    }

    #infoPagamento {
        width: 100%;
        height: 60vh;
        margin-left: 0;
        margin-top: 10%;
        text-align: center;
        margin-bottom: 10%;
        font-size: 2vh;
    }

    #logout {
        display: block;
        width: 100%;
        position: static;
        font-size: 2vh;
    }

    #creaAccount > input {
        width: 70%;
        height: 5vh;
        font-size: 2vh;
    }
    #creaAccount > button {
        width: 50%;
        height: 5vh;
        font-size: 1.5vh;
    }

    #creaAccount > h3, #accediAccount > h3, #link1, #link2 {
        font-size: 2vh;
    }

    #accediAccount > input {
        width: 70%;
        height: 5vh;
        font-size: 2vh;
    }
    #accediAccount > button {
        width: 50%;
        height: 5vh;
        font-size: 1.5vh;
    }

    #titoloAccount {
        margin-top: 30%;
        font-size: 4vh;
    }

    #saluto {
        margin-top: 25%;
        font-size: 3vh;
    }

    #infoPagamento > button {
        width: 70%;
        left: 15%;
        height: 5vh;
        font-size: 2vh;
    }

    #infoPersonali > button {
        width: 70%;
        left: 15%;
        font-size: 2vh;
        height: 5vh;
    }
}
@media screen and (max-width: 850px) {
    /*CSS PER LA PAGINA HOME*/

    #menuSin, #icone {
        display: none;
    }

    .giocoInSaldo {
        width: 60%;
        height: 50vh;
        margin-bottom: 5%;
        margin-left: 20%;
    }

    .sliderContainer {
        margin-left: 0;
        width: 100%;
        height: 46vh;
    }

    .next, .prev {
        top: 35%;
    }

    .immagineSlide {
        width: 70%;
        height: 50vh;
    }

    #imgMenuATendina {
        font-size: 4vh;
    }


    .imgTop3 {
        height: 50vh;
    }

    #menuATendina {
        display: block;
        width: 25%;
        height: 30vh;
        margin-top: -11%;
    }

    .titoloSezione {
        margin-top: 40%;
    }

    /*CSS PER LA PAGINA PRODOTTI*/

    #ricerca {
        width: 80%;
        margin-left: 10%;
        height: 5vh;
        display: block;
        font-size: 2vh;
    }

    #cerca {
        width: 20%;
        height: 6vh;
        margin-top: 1%;
    }

    .scelta {
        display: block;
        width: 70%;
        margin-left: 15%;
        text-align: center;
        position: relative;
    }

    #contenitoreProdotti {
        margin-top: 10%;
    }


    #contenitoreProdotti > .scelta > .sceltaText {
        width: 100%;
        position: absolute;
        top: 40%;
        left: 0;
    }

    #menuSecondario {
        margin-top: 30%;
        text-align: center;
    }

    #menuSecondario > #sceltaSec > .sceltaText {
        position: absolute;
        top: 10%;
        text-align: center;
        width: 100%;
    }

    #sceltaSec {
        width: 100%;
        margin-top: 1%;
        height: 6vh;
    }

    #prodotto {
        width: 50%;
        height: 60vh;
    }

    #prodotto > h2 {
        font-size: 3vh;
    }
    #prodotto > h3 {
        font-size: 2vh;
    }

    #prodotto > button {
        width: 70%;
        left: 15%;
        height: 4vh;
        font-size: 2vh;
    }

    #prodottoImg, #prodottoCarrello {
        height: 35vh;
    }

    /*CSS PER LA PAGINA ABOUT US*/

    #imgAs {
        width: 100%;
        height: auto;
        float: none;
        margin: 0;
        position: absolute;
        top: 60%;
        left: 0;
    }

    #benvenuto, #inventario, #esport, #prezzi {

        height: 65vh;
        margin-top: 30%;
        font-size: 2.5vh;
        text-align: center;
    }

    #esport {
        margin-top: 40%;
    }
    
    #titoloBen, #titoloInv, #titoloPrz, #titoloEsp {
        position: absolute;
        top: 1%;
        width: 100%;
        left: 0;
        text-align: center;
        color:rgb(117, 175, 255);
    }
    
    #contenutoBen, #contenutoInv, #contenutoPrz, #contenutoEsp {
        position: absolute;
        top: 25%;
        left: 0;
        width: 100%;
        text-align: center;
    }

    /*CSS PER LA PAGINA CARRELLO*/

    #prodottiCarrello {
        margin-top: 30%;
        text-align: center;
        margin-bottom: 20%;
    }

    #senzaProdotti {
        position: static;
        padding-top: 25%;
        font-size: 2vh;
    }

    #bottoneConferma {
        height: 7vh;
        font-size: 1.5vh;
    }

    /*CSS PER LA PAGINA ACCOUNT*/

    #infoPersonali {
        width: 100%;
        height: 60vh;
        text-align: center;
        font-size: 2vh;
    }

    #infoPagamento {
        width: 100%;
        height: 60vh;
        margin-left: 0;
        margin-top: 10%;
        text-align: center;
        margin-bottom: 10%;
        font-size: 2vh;
    }

    #logout {
        display: block;
        width: 100%;
        position: static;
        font-size: 2vh;
    }

    #creaAccount > input {
        width: 70%;
        height: 5vh;
        font-size: 2vh;
    }
    #creaAccount > button {
        width: 50%;
        height: 5vh;
        font-size: 1.5vh;
    }

    #creaAccount > h3, #accediAccount > h3, #link1, #link2 {
        font-size: 2vh;
    }

    #accediAccount > input {
        width: 70%;
        height: 5vh;
        font-size: 2vh;
    }
    #accediAccount > button {
        width: 50%;
        height: 5vh;
        font-size: 1.5vh;
    }

    #titoloAccount {
        margin-top: 30%;
        font-size: 4vh;
    }

    #saluto {
        margin-top: 25%;
        font-size: 3vh;
    }

    #infoPagamento > button {
        width: 70%;
        left: 15%;
        font-size: 2vh;
    }

    #infoPersonali > button {
        width: 70%;
        left: 15%;
        font-size: 2vh;
    }
}
@media screen and (max-width: 550px) {
    /*CSS PER LA PAGINA HOME*/

    .giocoInSaldo {
        width: 80%;
        height: 50vh;
        margin-bottom: 5%;
        margin-left: 0;
    }

    .next, .prev {
        top: 30%;
    }

    .immagineSlide {
        width: 85%;
        height: 45vh;
    }


    .imgTop3 {
        height: 50vh;
    }

    #menuATendina {
        width: 35%;
        height: 30vh;
        margin-top: -15%;
    }

    .titoloSezione {
        margin-top: 50%;
    }

    /*CSS PER LA PAGINA PRODOTTI*/

    #ricerca {
        width: 100%;
        height: 5vh;
        margin-left: 0;
    }

    #cerca {
        width: 20%;
        height: 7vh;
        margin-top: 1%;
    }

    .scelta {
        display: block;
        width: 90%;
        text-align: center;
        position: relative;
        margin-left: 5%;
    }

    #contenitoreProdotti {
        margin-top: 10%;
    }


    .sceltaText {
        width: 100%;
        position: absolute;
        top: 25%;
        left: 0;
    }

    #menuSecondario {
        margin-top: 50%;
        text-align: center;
    }

    #sceltaSec {
        width: 100%;
        height: 6vh;
    }

    #prodotto {
        width: 70%;
        height: 65vh;
    }

    #prodottoImg, #prodottoCarrello {
        height: 35vh;
    }

    /*CSS PER LA PAGINA ABOUT US*/

    #imgAs {
        width: 100%;
        height: auto;
        float: none;
        margin: 0;
        position: absolute;
        top: 60%;
        left: 0;
    }

    #benvenuto > img {
        top: 50%;
    }

    #inventario > img {
        top: 45%;
    }

    #inventario, #esport, #prezzi {
        height: 80vh;
        margin-top: 10%;
    }

    #benvenuto {
        height: 90vh;
        margin-top: 40%;
    }
    
    #titoloBen, #titoloInv, #titoloPrz, #titoloEsp {
        position: absolute;
        top: 1%;
        width: 100%;
        text-align: center;
        color:rgb(117, 175, 255);
    }
    
    #contenutoBen, #contenutoInv, #contenutoPrz, #contenutoEsp {
        position: absolute;
        top: 18%;
        width: 100%;
        text-align: center;
    }

    /*CSS PER LA PAGINA CARRELLO*/

    #prodottiCarrello {
        margin-top: 50%;
        text-align: center;
        margin-bottom: 20%;
    }

    #senzaProdotti {
        position: static;
        padding-top: 40%;
    }

    #bottoneConferma {
        height: 7vh;
    }

    /*CSS PER LA PAGINA ACCOUNT*/

    #infoPersonali {
        width: 100%;
        height: 60vh;
        text-align: center;
        font-size: 2vh;
    }

    #infoPagamento {
        width: 100%;
        height: 60vh;
        margin-left: 0;
        margin-top: 10%;
        text-align: center;
        margin-bottom: 10%;
        font-size: 2vh;
    }

    #logout {
        display: block;
        width: 100%;
        position: static;
    }

    #creaAccount > input {
        width: 90%;
        height: 5vh;
    }
    #creaAccount > button {
        width: 70%;
        height: 5vh;
    }

    #accediAccount > input {
        width: 90%;
        height: 5vh;
    }
    #accediAccount > button {
        width: 70%;
        height: 5vh;
    }

    #titoloAccount {
        margin-top: 50%;
    }

    #saluto {
        margin-top: 40%;
    }

    #infoPagamento > button {
        width: 70%;
        left: 15%;
    }

    #infoPersonali > button {
        width: 70%;
        left: 15%;
    }
}
@media screen and (max-width: 400px) {
    /*CSS PER LA PAGINA HOME*/

    #menuATendina {
        margin-top: -20%;
    }

    /*CSS PER LA PAGINA PRODOTTI*/

    #menuSecondario {
        margin-top: 40%;
    }

    /*CSS PER LA PAGINA ABOUT US*/

    #benvenuto, #inventario, #esport, #prezzi {
        margin-top: 30%;
    }

    /*CSS PER LA PAGINA CARRELLO*/

    #prodottiCarrello {
        margin-top: 40%;
    }

    /*CSS PER LA PAGINA ACCOUNT*/

    #titoloAccount {
        margin-top: 40%;
    }

    #saluto {
        margin-top: 30%;
    }
}