body {
    background-color: rgb(32, 32, 32);
    padding-left: 2%;
    padding-right: 2%;
    color: whitesmoke;
    user-select: none;
}

/*header {
    background-color: rgb(0, 163, 0);
    height: 20vh;
    border-radius: 20px;
    box-shadow: 1vh 1vh rgb(0, 94, 0);
    margin-bottom: 5vh;
}*/

header {
    margin-top: 1%;
}

button {
    cursor: pointer;
}

nav {
    width: 35%;
    height: 5vh;
    margin-top: 7.5vh;
    float: right;
}

li {
    display: inline-block;
    padding-right: 3vw;
    margin: auto;
    font-size: 2vh;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

/*
*CSS PER LA PAGINA "HOME"
*/

#titolo {
    display: inline;
    font-size: 5vh;
    color: rgb(117, 175, 255);
}

#menu {
    padding-left: .5%;
    padding-right: .5%;
}

#menuSin {
    display: inline;
    margin-left: 5%;
    font-size: 2.5vh;
}

#icone {
    display: inline;
}



#imgCarrello {
    width: 3%;
    position: absolute;
    right: 3%;
    cursor: pointer;
}

#imgAccount {
    width: 3%;
    position: absolute;
    right: 7%;
    cursor: pointer;
}

/*Slider Sconti*/

.titoloSezione {
    margin-top: 10%;
    font-size: 5vh;
    text-align: center;
    color: rgb(117, 175, 255);
}

.sliderContainer {
    position: relative;
    margin: auto;
    width: 80%;
    height: 60vh;
    display: block;
}

.slide {
    width: 80%;
    margin: auto;
    display: none;
}

.immagineSlide {
    width: 100%;
    border-radius: 20px;
    border: 5px solid white;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 1%;
    color: white;
    font-size: 10vh;
    transition: .3s ease;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    color: rgb(180, 180, 180);
}

.counter-slide {
    color: white;
    font-size: 3vh;
    position: absolute;
    top: 0;
    padding: 1%;
}

#saldi {
    margin: auto;
    width: 90%;
    height: 30vh;
    text-align: center;
}

.giocoInSaldo {
    width: 25%;
    height: 22.7vh;
    margin: .5vh 1.7% 0 0;
    border: 2px solid white;
    display: inline-block;
    border-radius: 20px;
    background-color: white;
    position: relative;
}

/*Overlay*/

.imgTop3 {
    width: 100%;
    border-radius: 20px;
    display: none;
}

.top3Text {
    font-size: 10vh;
    color: black;
    position: absolute;
    left: 45%;
}

/*CSS PER LA PAGINA "SHOP"*/

#contenitoreProdotti {
    margin-top: 5%;
    width: 100%;
    height: auto;
}

.scelta {
    background-color: white;
    width: 25%;
    height: 30vh;
    border-radius: 20px;
    margin-left: 5%;
    margin-top: 5%;
    display: inline-table;
    cursor: pointer;
    position: relative;
}

.sceltaText {
    color: rgb(63, 143, 255);
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.scelta:hover {
    background-color: rgb(220, 220, 220);
}

#prodotto {
    width: 15%;
    height: 55vh;
    border-radius: 20px;
    border: 3px solid white;
    background-color: white;
    text-align: center;
    color: black;
    position: relative;
    display: inline-block;
    margin: 2%;
}

#prodottoImg, #carrelloImg {
    margin-top: 2%;
    width: 90%;
}

#prodottoBottone, #eliminaDalCarrello, #aggiungiAlCarrello {
    position: absolute;
    bottom: 2%;
    left: 25%;
    height: 3vh;
    background-color: white;
    border: 2px solid;
    border-radius: 20px;
}

#prodottoBottone:hover {
    background-color: rgb(220, 220, 220);
}

/*CSS PER LA PAGINA "CARRELLO"*/

#prodottiCarrello {
    width: 100%;
    margin-top: 5%;
}

#eliminaDalCarrello {
    width: 49.5%;
    left: 0;
    display: inline-block;
}

#aggiungiAlCarrello {
    width: 49.5%;
    left: 50%;
}

#eliminaDalCarrello:hover {
    background-color: rgb(255, 73, 73);
}

#aggiungiAlCarrello:hover {
    background-color: rgb(73, 255, 73);
}

#divBottoneConferma {
    width: 100%;
    height: 8vh;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

#bottoneConferma {
    text-align: center;
    background-color: rgb(117, 175, 255);
    color: black;
    width: 90%;
    height: 5vh;
    margin: auto;
}

#senzaProdotti {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 40%;
}

/*CSS PER LA PAGINA "ACCOUNT"*/

#creaAccount, #accediAccount {
    width: 100%;
    text-align: center;
}

#accediAccount {
    display: none;
}

#creaAccount > input {
    margin-bottom: 1%;
    width: 20%;
    height: 5vh;
}

#accediAccount > input {
    margin-bottom: 1%;
    width: 20%;
    height: 5vh;
}

#titoloAccount {
    text-align: center;
    margin-bottom: 0;
    margin-top: 8%;
}

#sottoTitolo {
    text-align: center;
    margin-bottom: 2%;
    margin-top: 0;
}

#link1, #link2 {
    cursor: pointer;
    color: rgb(117, 175, 255);
}

#link {
    color: rgb(117, 175, 255);
}

#creaAccountBtn1, #creaAccountBtn2 {
    margin-top: 3%;
    width: 15%;
    height: 5vh;
    border-radius: 20px;
}

#errore {
    margin: 0;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 2%;
    left: 0;
    color: rgb(197, 0, 0)
}

#tuttiIDati {
    width: 100%;
    margin-top: 5%;
    display: none;
}

#infoPersonali, #infoPagamento {
    margin-top: 5%;
    background-color: white;
    color: black;
    width: 30%;
    height: 50vh;
    border-radius: 20px;
    position: relative;
    float: left;
}

#infoPersonali > h2 {
    margin-left: 7%;
    padding: 4.5%;
}

#infoPersonali > button {
    position: absolute;
    bottom: 2%;
    left: 30%;
    color: black;
    background-color: white;
    height: 4vh;
    border-radius: 20px;
    width: 40%;
}

#infoPersonali > button:hover {
    background-color: rgb(220, 220, 220);
}

#infoPersonali > h2 > input {
    height: 4vh;
    margin-left: 3%;
    width: 50%;
}
#infoPagamento > h2 {
    margin-left: 7%;
    padding: 4.5%;
}

#infoPagamento > button {
    position: absolute;
    bottom: 2%;
    left: 30%;
    color: black;
    background-color: white;
    height: 4vh;
    border-radius: 20px;
    width: 40%;
}

#infoPagamento > button:hover {
    background-color: rgb(220, 220, 220);
}

#infoPagamento > h2 > input {
    height: 4vh;
    margin-left: 3%;
    width: 30%;
}

#logout {
    width: 10%;
    height: 5vh;
    position: absolute;
    bottom: 1%;
    right: 2%;
    cursor: pointer;
}

#logout:hover {
    background-color: rgb(255, 73, 73);
}